<div class="addthis_toolbox addthis_floating_style addthis_counter_style" style="left:10px;top:30%;background-color:rgba(250,250,250,.05);" addthis:url="http://linux.omicronlab.com{{ page.url | remove:'index.html' }}">
<a class="addthis_button_facebook_like" fb:like:layout="box_count"></a>
<a class="addthis_button_tweet" tw:count="vertical"></a>
<a class="addthis_button_google_plusone" g:plusone:size="tall"></a>
<a class="addthis_button_linkedin_counter" li:counter="top"></a>
</div>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-519b3c3a4eaa96b6"></script>
